﻿@using System.Collections
@using CustomerPortal.Utility
@model CustomerPortal.ViewModels.BookRoomViewModel
@{
    ViewBag.Title = "title";
    IEnumerable<SelectListItem> countryList = (IEnumerable<SelectListItem>) ViewBag.CountryList;
}

<h2>Book Room</h2>

@using (Html.BeginForm(new { @id = "myForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Customer</h4>.
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @*@Html.ValidationSummary()*@
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.StreetNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.StreetNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.StreetNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Country, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model=>model.Customer.Country, new { htmlAttributes = new { @id = "country1" } })
            @(Html.Kendo().DropDownList()
                  .Name("Countries")
//                  .HtmlAttributes(new { id = "Countries" })
                  .HtmlAttributes(new {style = "width:280px"})
                  .OptionLabel("Select Country...")
                  .DataTextField("CountryName")
                  .DataValueField("CountryCode")
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Cascading_Get_Countries", "DropDownList");
                      });
                  })
                  )

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Province, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
@*            @Html.HiddenFor(model => model.Customer.Province, new { htmlAttributes = new { @id = "province" }})*@
@*            @Html.TextBoxFor(model => model.Customer.Province)*@
            @(Html.Kendo().DropDownListFor(model=>model.Customer.Province)
//                  .Name("Province")
                          .HtmlAttributes(new { style = "width:280px" })
                          .OptionLabel("Select Province/State...")
                          .DataTextField("ProvinceName")
                          .DataValueField("ProvinceName")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                      {
                          read.Action("Cascading_Get_Provinces", "DropDownList")
                      .Data("filterCountryProvince");
                      })
                          .ServerFiltering(true);
                          })
                          .Enable(false)
                          .AutoBind(false)
                          .CascadeFrom("Countries")
            )

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.PostalCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.PhoneNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.CheckInDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.CheckInDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reservation.CheckInDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.CheckOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.CheckOutDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reservation.CheckOutDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.NoRooms, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*            @Html.TextBoxFor(model => model.Reservation.NoRooms, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.TextBoxFor(model => model.Reservation.NoRooms, new { @Value = "1", @class = "form-control text-box single-line" })
            @Html.ValidationMessageFor(model => model.Reservation.NoRooms, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.NoGuests, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Reservation.NoGuests, new { @Value = "2", @class = "form-control text-box single-line" })
            @Html.ValidationMessageFor(model => model.Reservation.NoGuests, "", new { @class = "text-danger" })
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay & Book" class="btn btn-default" />
        </div>
    </div>

</div>
}


<script type="text/javascript">
    function filterCountryProvince() {
        $('#Customer_Country').val($("#Countries").val());
//        $('#Customer_Province').val($("#Province").val());
//        $('#Customer_Province').val("sss");
//        alert($("#Province").val());
        return {
           
            Countries: $("#Countries").val()
//            Countries: $("#Countries").data("kendoDropDownList").text()
        };
//        return "CA";
    }
    $('#myform').submit(function() {
//        alert($("#Province").val());
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
   