﻿@using CustomerPortal.ViewModels
@using Customer = CustomerPortal.Models.Customer
@model dynamic

@{
    ViewBag.Title = "Customers";
//    Layout = "_Layout";
}

<h2>title</h2>

@(Html.Kendo().Grid<Customer>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.FirstName).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
          columns.Bound(p => p.LastName).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
          columns.Bound(p => p.StreetNo).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
          columns.Bound(p => p.City).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(100);
          columns.Bound(p => p.EmailAddress).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(180);
          columns.Bound(p => p.PhoneNo).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create().Text("Add New Customer"))
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Pageable()
      .Sortable()
      .Scrollable()
      .HtmlAttributes(new { style = "height:550px;" })
      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
      .Selectable(selectable => selectable
          .Mode(GridSelectionMode.Single)
          .Type(GridSelectionType.Row))
      .Events(events => events.Change("onChange"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Events(events => events.Error("error_handler"))
          .Model(model => model.Id(p => p.CustID))
          .Create(update => update.Action("EditingPopup_Create", "Customer"))
          .Read(read => read.Action("EditingPopup_Read", "Customer"))
          .Update(update => update.Action("EditingPopup_Update", "Customer"))
          .Destroy(update => update.Action("EditingPopup_Destroy", "Customer"))
      )
      )
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            
            return $(item).text();
        });
        var data = this.dataItem(this.select());
        var custId = data.id;//IMP
        
        //alert("custID: " + custId);
//        $.post("/Home/ExistingCustomer?custId=" + 2);
//        $.get("@Url.Action("ExistingCustomer","Home")", { custId: custId} );
//        window.location.href = '/Home/ExistingCustomer?custId=' + custId;
        window.open('/Home/ExistingCustomer?custId=' + custId, '_blank');
        //kendoConsole.log("Selected: " + selected.length + " item(s), [" + selected.join(", ") + "]");
    }

</script>