﻿@using CustomerPortal.ViewModels
@using Reservation = CustomerPortal.Models.Reservation
@model dynamic

@{
    ViewBag.Title = "Reservations";
    //    Layout = "_Layout";
}

<h2>Reservations</h2>

@(Html.Kendo().Grid<Reservation>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(p => p.ReservationCode).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
              columns.Bound(p => p.CustID).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
              columns.Bound(p => p.CheckInDate).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
              columns.Bound(p => p.CheckOutDate).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(100);
              columns.Bound(p => p.NoGuests).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(180);
              columns.Bound(p => p.NoRooms).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(140);
              columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
          })
          .ToolBar(toolbar => toolbar.Create())
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Pageable()
          .Sortable()
          .Scrollable()
          .HtmlAttributes(new { style = "height:550px;" })
          .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
          .Selectable(selectable => selectable
              .Mode(GridSelectionMode.Single)
              .Type(GridSelectionType.Row))
          .Events(events => events.Change("onChange"))
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Events(events => events.Error("error_handler"))
              .Model(model => model.Id(p => p.ReservationCode))
              .Create(update => update.Action("EditingPopup_Create", "Reservation"))
              .Read(read => read.Action("EditingPopup_Read", "Reservation"))
              .Update(update => update.Action("EditingPopup_Update", "Reservation"))
              .Destroy(update => update.Action("EditingPopup_Destroy", "Reservation"))
          )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {

            return $(item).text();
        });
        var data = this.dataItem(this.select());
        var ReservationCode = data.ReservationCode;

//        alert("ReservationCode: " + ReservationCode);
//        $.post("/Home/ExistingCustomer?custId=" + 2);
//        $.get("@Url.Action("ExistingCustomer","Home")", { custId: custId} );
//        window.location.href = '/Home/ExistingCustomer?custId=' + custId;
        window.open('/Home/ExistingReservation?reservationCode=' + ReservationCode, '_blank');
        //kendoConsole.log("Selected: " + selected.length + " item(s), [" + selected.join(", ") + "]");
    }

</script>